
.card-block {
	-webkit-box-flex: 1;
	-webkit-flex: 1 1 auto;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
	padding: 1.25rem;
}


.card-primary {
    background-color: #0275d8;
    border-color: #0275d8;
        border-top-color: rgb(2, 117, 216);
        border-right-color: rgb(2, 117, 216);
        border-bottom-color: rgb(2, 117, 216);
        border-left-color: rgb(2, 117, 216);
}

.card-success {
	background-color: #5cb85c;
	border-color: #5cb85c;
	border-top-color: rgb(92, 184, 92);
	border-right-color: rgb(92, 184, 92);
	border-bottom-color: rgb(92, 184, 92);
	border-left-color: rgb(92, 184, 92);
}

.card-info {
	background-color: #5bc0de;
	border-color: #5bc0de;
	border-top-color: rgb(91, 192, 222);
	border-right-color: rgb(91, 192, 222);
	border-bottom-color: rgb(91, 192, 222);
	border-left-color: rgb(91, 192, 222);
}

.card-warning {
	background-color: #f0ad4e;
	border-color: #f0ad4e;
	border-top-color: rgb(240, 173, 78);
	border-right-color: rgb(240, 173, 78);
	border-bottom-color: rgb(240, 173, 78);
	border-left-color: rgb(240, 173, 78);
}

.card-danger {
	background-color: #d9534f;
	border-color: #d9534f;
	border-top-color: rgb(217, 83, 79);
	border-right-color: rgb(217, 83, 79);
	border-bottom-color: rgb(217, 83, 79);
	border-left-color: rgb(217, 83, 79);
}
